.nav{
  display: flex;
  justify-content: center;
}
.nav li{
  list-style-type: none;
  font-size: 24px;
  color: black;
}
h1{
  text-align: center;
  border-bottom: 1px black solid;
  padding-bottom: 16px;
}
.count{
  font-size: 32px;
  display: flex;
  justify-content: center;
}
.buttonDiv, .secondButtonDiv{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
  margin: 0 auto;
}
div button{
  padding: 4px 24px;
  background-color: black;
  color: white;
  font-size: 48px;
}
.secondButtonDiv{
  margin-top: 20px;
}